body{
background-color: rgb(0, 0, 110);
}

.narvar{
    height: 45px;
    background-color: black;
    margin-top: 0%;
}

.icono{
    padding-right: 1130px;
    margin-bottom: 30px;
}

.lista-Col{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    padding-top: 8px;
}

.item-lista{
    color: aliceblue;
    list-style: none;
    padding-right: 20px;
    font-size: 22px;
}

.item-lista:hover{
    color: red;
}

.link{
    text-decoration: none;
}

.imgLogo{
    width: 60px;
}

.card {
    background-color: black;
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 300px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    max-width: 100%;
  }

  .producto{
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-top: 8px;
  }
 
  .lista-producto{
    margin-left: 15px;
  }
    
.formulario{
  background-color: black;
  border: 20px;
  border-radius: 5px;
}



 

 
